<div class="row">
    <div class="col-lg-12">
        <p class="heading">Update Profile<span class="chev_ron"><img src="../../../../../assets/images/chevron_right.png"></span></p>
        <div class="profile-detail">
            <div class="d-flex">
                <div class="profile-name">
                    <div class="user-title">
                        <h2>Harri Narayanan</h2>
                        <span class="">Software Developer</span>
                    </div>
                </div>
                <div class="profile-picture">
                    <a href="#" class="profile-image">
                        <img class="user-img img-radius" src="../../../../../assets/images/1.jpg" alt="user-img">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 main-tabs">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Main Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">User Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-training" role="tab" aria-controls="pills-training" aria-selected="false">Training History</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="name">First Name</label>
                            <input type="text" class="form-control" id="f_name" placeholder="Enter first name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="m_name">Middle Name</label>
                            <input type="text" class="form-control" id="m_name" placeholder="Enter Last Name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="l_name">Last Name</label>
                            <input type="text" class="form-control" id="l_name" placeholder="Enter Last Name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="d_name">Display Name</label>
                            <input type="text" class="form-control" id="d_name" placeholder="Enter display name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Gender</label>
                            <select class="form-control">
                                <option value="1">--Select--</option>
                                <option value="2">Male</option>
                                <option value="3">Female</option>
                                </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="c_name">Company Name</label>
                            <input type="text" class="form-control" id="c_name" placeholder="Enter company name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="product">Product/Service Description</label>
                            <input type="text" class="form-control" id="product">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="r_office">Registered Tax Office</label>
                            <input type="text" class="form-control" id="r_office">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="industry">Industry</label>
                            <input type="text" class="form-control" id="industry">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="classification">Classification</label>
                            <input type="text" class="form-control" id="classification">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="speciality">Requested Speciality</label>
                            <input type="text" class="form-control" id="speciality">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="Chapter">Chapter</label>
                            <input type="text" class="form-control" id="Chapter">
                        </div>
                    </div>

                </div>
            </div>

            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
            <div class="tab-pane fade" id="pills-training" role="tabpanel" aria-labelledby="pills-training-tab">...</div>
        </div>
    </div>
</div>