<div class="card_section">
    <div class="card">
        <div class="card_img"><img src="../../../../../assets/images/send_receive.png"></div><span class="counter">2539742</span>
        <span class="card_name">Revenue Recieved</span>
    </div>
    <div class="card">
        <div class="card_img"><img src="../../../../../assets/images/bills.png"></div><span class="counter">150</span>
        <span class="card_name">Refferals Received</span>
    </div>
    <div class="card">
        <div class="card_img"><img src="../../../../../assets/images/scan.png"></div><span class="counter">1838188</span>
        <span class="card_name">TYFCB Given</span>
    </div>
    <!-- <div class="card">
        <div class="card_img"><img src="images/cash.png"></div><span class="counter">336</span>
        <span class="card_name">Referrals Given</span>
    </div>
    <div class="card">
        <div class="card_img"><img src="images/card.png"></div><span class="counter">4</span>
        <span class="card_name">Visitor</span>
    </div>
    <div class="card">
        <div class="card_img"><img src="images/card.png"></div><span class="counter">93</span>
        <span class="card_name">One-to-Ones</span>
    </div> -->
    <!-- <div class="card">
      <div class="card_img"><img src="images/card.png"></div><span class="counter">7</span>
      <span class="card_name">CEUs</span>
   </div> -->
</div>