<div class="fullheight">
    <div class="row">
        <div class="col-lg-6">
            <div class="accounts_section">
                <p class="heading">My Quick Links<span class="chev_ron"><img src="../../../../../assets/images/chevron_right.png"></span></p>
                <div class="accounts_content all" id="s_tyfcb">
                    <div class="account_img">
                        <img src="../../../../../assets/images/wallet.png">
                    </div>
                    <div class="account_num">
                        <span class="number">Submit TYFCB SLips</span>
                    </div>
                </div>
                <div class="accounts_content all" id="s_referral">
                    <div class="account_img">
                        <img src="../../../../../assets/images/wallet.png">
                    </div>
                    <div class="account_num">
                        <span class="number">Submit Referral SLips</span>
                    </div>
                </div>
                <div class="accounts_content all" id="s_one">
                    <div class="account_img">
                        <img src="../../../../../assets/images/wallet.png">
                    </div>
                    <div class="account_num">
                        <span class="number">Submit One-to-One SLips</span>
                    </div>
                </div>
                <div class="accounts_content all" id="s_cue">
                    <div class="account_img">
                        <img src="../../../../../assets/images/wallet.png">
                    </div>
                    <div class="account_num">
                        <span class="number">Submit CEU SLips</span>
                    </div>
                </div>
                <div class="accounts_content all" id="s_referral1">
                    <div class="account_img">
                        <img src="../../../../../assets/images/wallet.png">
                    </div>
                    <div class="account_num">
                        <span class="number">Track your Refrrals Received Online</span>
                    </div>
                </div>
                <div class="accounts_content all" id="s_tyfcb1">
                    <div class="account_img">
                        <img src="../../../../../assets/images/wallet.png">
                    </div>
                    <div class="account_num">
                        <span class="number">Review My TYFCB SLips</span>
                    </div>
                </div>
                <div class="accounts_content all" id="s_referral2">
                    <div class="account_img">
                        <img src="../../../../../assets/images/wallet.png">
                    </div>
                    <div class="account_num">
                        <span class="number">Review My Referral SLips</span>
                    </div>
                </div>
                <div class="accounts_content all" id="s_one1">
                    <div class="account_img">
                        <img src="../../../../../assets/images/wallet.png">
                    </div>
                    <div class="account_num">
                        <span class="number">Review My One-to-One SLips</span>
                    </div>
                </div>
                <div class="accounts_content all" id="s_cue1">
                    <div class="account_img">
                        <img src="../../../../../assets/images/wallet.png">
                    </div>
                    <div class="account_num">
                        <span class="number">Review My CUE SLips</span>
                    </div>
                </div>
                <div class="accounts_content all" id="s_referral3">
                    <div class="account_img">
                        <img src="../../../../../assets/images/wallet.png">
                    </div>
                    <div class="account_num">
                        <span class="number">Received Referrals Report</span>
                    </div>
                </div>
                <div class="accounts_content all">
                    <div class="account_img">
                        <img src="../../../../../assets/images/wallet.png">
                    </div>
                    <div class="account_num">
                        <span class="number">Print Your Weekly Slips</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="transaction_section">
                <p class="heading">My Dashboard <span class="chev_ron"><img src="../../../../../assets/images/chevron_right.png"></span></p>
                <div class="transaction_content">
                    <div class="trans_content">
                        <span class="trans_name">Revenue Recieved to my Business</span>
                        <span class="trans_acount">Last 12 Months</span>
                    </div>
                    <div class="trans_amount">
                        <p>1509500</p>
                    </div>
                </div>
                <div class="transaction_content">
                    <div class="trans_content">
                        <span class="trans_name">Referrals Received</span>
                        <span class="trans_acount">Last 12 Months</span>
                    </div>
                    <div class="trans_amount">
                        <p>31</p>
                    </div>
                </div>
                <div class="transaction_content">
                    <div class="trans_content">
                        <span class="trans_name">TYFCB Given</span>
                        <span class="trans_acount">Last 12 Months</span>
                    </div>
                    <div class="trans_amount">
                        <p>385722</p>
                    </div>
                </div>
                <div class="transaction_content">
                    <div class="trans_content">
                        <span class="trans_name">Referrals Given</span>
                        <span class="trans_acount">Last 12 Months</span>
                    </div>
                    <div class="trans_amount">
                        <p>67</p>
                    </div>
                </div>
                <div class="transaction_content">
                    <div class="trans_content">
                        <span class="trans_name">Visitor</span>
                        <span class="trans_acount">Last 12 Months</span>
                    </div>
                    <div class="trans_amount">
                        <p>0</p>
                    </div>
                </div>
                <div class="transaction_content">
                    <div class="trans_content">
                        <span class="trans_name">One-to-Ones</span>
                        <span class="trans_acount">Last 12 Months</span>
                    </div>
                    <div class="trans_amount">
                        <p>14</p>
                    </div>
                </div>
                <div class="transaction_content">
                    <div class="trans_content">
                        <span class="trans_name">CEUs</span>
                        <span class="trans_acount">Last 12 Months</span>
                    </div>
                    <div class="trans_amount">
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>