<section class="banner_wrapper">
    <div class="content_wrapper">
        <div class="profile_section">
            <div class="profile_left">
                <div class="marc-logo">
                    <img src="../../../../../assets/images/NV@-01.png" alt="profile">
                </div>
                <div class="greetings">
                    <span class="light-text">Welcome</span> <span class="font-weight-bold">Mr.Harry</span>
                </div>
            </div>
            <ul class="nav justify-content-end">
                <li class="nav-item position-relative">
                    <a class="nav-link" href="#"><i class="fa fa-bell"></i><sup class="num">3</sup></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i></a>
                </li>
            </ul>
        </div>
        <header></header>
    </div>
</section>
<section class="nav_section">
    <div class="content_wrapper content_wrapper_position">
        <sidebar></sidebar>
        <div class="right_nav">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>