<div class="row">
    <div class="col-md-12">
        <p class="heading">Connections<span class="chev_ron"><img src="../../../../../assets/images/chevron_right.png"></span></p>
        <div class="profile-detail">
            <div class="d-flex">
                <div class="position-relative" style="top: 25px;">
                    <span class="mr-4">From : <span class="chapterName">Starwalts</span></span>
                </div>
                <div class="d-inline-flex">
                    <div class="profile-name">
                        <div class="user-title">
                            <h2>Harri Narayanan</h2>
                            <span class="">Software Developer</span>
                        </div>
                    </div>
                    <div class="profile-picture">
                        <a href="#" class="profile-image">
                            <img class="user-img img-radius" src="../../../../../assets/images/1.jpg" alt="user-img">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-12 main-tabs position-relative">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-submit-tab" data-toggle="pill" href="#pills-submit" role="tab" aria-controls="pills-submit" aria-selected="true">Add Connection</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-selected="false">Overall Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-track-tab" data-toggle="pill" href="#pills-track" role="tab" aria-controls="pills-track" aria-selected="false">Actions</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" id="pills-report-tab" data-toggle="pill" href="#pills-received-report" role="tab" aria-controls="pills-received-report" aria-selected="false"></a>
            </li> -->
        </ul>
        <div class="position-absolute" style="right: 2px; top: 40px;">
            <div class="btn dropleft">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-bars"></i>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><i class="far fa-comment-dots mr-3"></i>Send Message</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-tasks mr-3"></i>Ask Testimonial</a>
                    <a class="dropdown-item" href="#"><i class="far fa-calendar mr-3"></i>Give Testimonial</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="fa fa-user mr-3"></i>View Profile</a>
                </div>
            </div>
        </div>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-submit" role="tabpanel" aria-labelledby="pills-submit-tab">
                <div class="row mt-2">
                    <div class="col-md-4">
                        <div class="suggesion-list">
                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <input type="search" class="form-control" id="" placeholder="Search..">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-search"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="user-profile">
                                <img src="../../../../../assets/images/user-photo.jpg" alt="" class="rounded-image">
                                <div class="d-block profile-name">
                                    Harri
                                </div>
                            </div>
                            <div class="user-profile">
                                <img src="../../../../../assets/images/profile.jpg" alt="" class="rounded-image">
                                <div class="d-block profile-name">
                                    Asha
                                </div>
                            </div>
                            <div class="user-profile">
                                <img src="../../../../../assets/images/user-photo.jpg" alt="" class="rounded-image">
                                <div class="d-block profile-name">
                                    Harri
                                </div>
                            </div>
                            <div class="user-profile">
                                <img src="../../../../../assets/images/profile.jpg" alt="" class="rounded-image">
                                <div class="d-block profile-name">
                                    Harri
                                </div>
                            </div>
                            <div class="user-profile">
                                <img src="../../../../../assets/images/user-photo.jpg" alt="" class="rounded-image">
                                <div class="d-block profile-name">
                                    Asha
                                </div>
                            </div>
                            <div class="user-profile">
                                <img src="../../../../../assets/images/profile.jpg" alt="" class="rounded-image">
                                <div class="d-block profile-name">
                                    Harri
                                </div>
                            </div>
                            <div class="user-profile">
                                <img src="../../../../../assets/images/user-photo.jpg" alt="" class="rounded-image">
                                <div class="d-block profile-name">
                                    Harri
                                </div>
                            </div>
                            <div class="user-profile">
                                <img src="../../../../../assets/images/profile.jpg" alt="" class="rounded-image">
                                <div class="d-block profile-name">
                                    Asha
                                </div>
                            </div>
                            <div class="user-profile">
                                <img src="../../../../../assets/images/user-photo.jpg" alt="" class="rounded-image">
                                <div class="d-block profile-name">
                                    Harri
                                </div>
                            </div>
                            <div class="user-profile">
                                <img src="../../../../../assets/images/user-photo.jpg" alt="" class="rounded-image">
                                <div class="d-block profile-name">
                                    Harri
                                </div>
                            </div>
                            <div class="user-profile">
                                <img src="../../../../../assets/images/profile.jpg" alt="" class="rounded-image">
                                <div class="d-block profile-name">
                                    Asha
                                </div>
                            </div>
                            <div class="user-profile">
                                <img src="../../../../../assets/images/user-photo.jpg" alt="" class="rounded-image">
                                <div class="d-block profile-name">
                                    Harri
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="table-responsive detail-table">
                            <table class="table table-borderless table-hover">
                                <tbody>
                                    <tr>
                                        <th scope="row">Working on:</th>
                                        <td>Dr.Anitha Jagan is ur friendly smile designer from SMILE DENTAL CLINIC which caters to complete dental care under one roof esp implants, RCT,Jaw surgery,extraction,fillings,pediatric&geriatric dentist</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Address:</th>
                                        <td>9/43,THANDAVARAYAN STREET,VELAPADI VELLORE, TAMIL NADU, 632001 IN</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Email:</th>
                                        <td class="text-primary">anithadent@yahoo.co.in
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Phone:</th>
                                        <td>0416-2222266</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Website:</th>
                                        <td>http://www.smiledentalvellore.com</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Company:</th>
                                        <td>SMILE DENTAL CLINIC</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Industry and Classification:</th>
                                        <td>Health & Wellness, Dentist</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-12 text-center">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outline-primary btn-sm">Create Referal</button>
                            <button type="button" class="btn btn-outline-primary btn-sm">Create One-to-One</button>
                            <button type="button" class="btn btn-outline-danger btn-sm">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
                <div class="row mt-2">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Keyword</label>
                            <input type="text" class="form-control" placeholder="Enter Keyboard">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Enter Name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Company</label>
                            <input type="text" class="form-control" placeholder="Enter Company Name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Country</label>
                            <select type="text" class="form-control">
                                <option value="">--Select--</option>
                                <option value=""></option>
                                <option value=""></option>
                                </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>State</label>
                            <select type="text" class="form-control">
                                <option value="">--Select--</option>
                                <option value=""></option>
                                <option value=""></option>
                                </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>City</label>
                            <select type="text" class="form-control">
                                <option value="">--Select--</option>
                                <option value=""></option>
                                <option value=""></option>
                                </select>
                        </div>
                    </div>
                    <div class="col-md-12 text-center mt-2">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outline-primary btn-sm">Search Members</button>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <tbody>
                                    <tr class="bg-light font-weight-bold">
                                        <th scope="row">Name</th>
                                        <td>Chapter</td>
                                        <td>Company</td>
                                        <td>City</td>
                                        <td>Industry and Classification:</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Harri</th>
                                        <td>MARC Billionaires</td>
                                        <td class="text-primary">Basudeo Auto Ltd</td>
                                        <td>Ranchi, Jharkhand</td>
                                        <td>Car & Motorcycle > Auto/Car Sales</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Harri</th>
                                        <td>MARC Billionaires</td>
                                        <td class="text-primary">Basudeo Auto Ltd</td>
                                        <td>Ranchi, Jharkhand</td>
                                        <td>Car & Motorcycle > Auto/Car Sales</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-track" role="tabpanel" aria-labelledby="pills-track-tab">
                <div class="row mt-2">
                    <div class="col-md-3">
                        <div class="suggesion-list">
                            <ul class="list-group">
                                <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Inbox
                                    <span class="badge badge-primary badge-pill">14</span>
                                </li> -->
                                <li class="list-group-item active d-flex justify-content-between align-items-center">
                                    Sent Request
                                    <span class="badge badge-primary badge-pill">2</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Received Request
                                    <span class="badge badge-primary badge-pill">1</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Unread Messages
                                    <span class="badge badge-primary badge-pill">1</span>
                                </li>
                                <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Upcoming Events
                                    <span class="badge badge-primary badge-pill">1</span>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="table-responsive detail-table">
                            <!-- <table class="table table-hover" style="border-collapse:collapse;">
                                <thead class="bg-light">
                                    <tr class="font-weight-bold">
                                        <th scope="col">#</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Comments</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle text-nowrap">
                                        <th scope="row"><i class="fa fa-arrow-right"></i></th>
                                        <td>20/06/2021</td>
                                        <td>Mark</td>
                                        <td>We deal with Indian stock market NSE BSE. </td>
                                        <td>Pending</td>
                                    </tr>
                                    <tr class="hiddenRow">
                                        <td class="hiddenRow"></td>
                                        <div class="accordian-body collapse p-3 id="demo1">
                                            <div class="card card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                            </div>
                                        </div>
                                    </tr>
                                    <tr>
                                        <th scope="row"><i class="fa fa-arrow-right"></i></th>
                                        <td>20/06/2021</td>
                                        <td>Mark</td>
                                        <td>We deal with Indian stock market NSE BSE. </td>
                                        <td>Pending</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><i class="fa fa-arrow-right"></i></th>
                                        <td>20/06/2021</td>
                                        <td>Mark</td>
                                        <td>We deal with Indian stock market NSE BSE. </td>
                                        <td>Pending</td>
                                    </tr>

                                </tbody>
                            </table> -->
                            <table class="table" style="border-collapse:collapse;">
                                <thead>
                                    <tr class="bg-light">
                                        <th></th>
                                        <th>Date</th>
                                        <th>From</th>
                                        <th>Comments</th>
                                        <!-- <th>Visibility</th> -->
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr colspan="6" data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                                        <td><i class="fa fa-chevron-circle-right"></i></td>
                                        <td>16/07/21</td>
                                        <td>rockzzzzprem@gmail.com</td>
                                        <td>Marc connection request</td>
                                        <!-- <td><i class="far fa-check-circle"></i></td> -->
                                        <td>
                                            <div class="d-flex">
                                                <button class="btn btn-outline-success btn-sm"><i class="fas fa-check"></i></button>&nbsp;
                                                <button class="btn btn-outline-danger btn-sm"><i class="fas fa-times"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="p">
                                        <td colspan="6" class="hiddenRow">
                                            <div class="accordian-body collapse p-3" id="demo1">
                                                <p>From : <span>1</span></p>
                                                <p>Date : <span>12 Jan 2018 09:35AM</span> </p>
                                                <p>Description : <span>Details</span> </p>
                                                <p>Status : <span>Seen &nbsp;<i class="far fa-check-circle"></i></span> </p>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

            <!-- <div class="tab-pane fade" id="pills-received-report" role="tabpanel" aria-labelledby="pills-report-tab">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="l_name">Start Date</label>
                            <input type="date" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="l_name">End Date</label>
                            <input type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary btn-sm" style="margin-top: 35px;">Search</button>
                    </div>

                </div>
            </div> -->
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal animate__animated animate__backInLeft" id="searchResult" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Referal List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="text-nowrap bg-light">
                                    <tr>
                                        <th width="4%">#</th>
                                        <th width="46%">Course Title</th>
                                        <th width="15%">Credits/Course</th>
                                        <th width="20%">QTY Earned</th>
                                        <th width="15%">Total Credits Earned Last Week</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>1 Hour of BNI Podcasts, Webinars, BNI SuccessNet, etc.</td>
                                        <td>1</td>
                                        <td><input type="text" class="form-control width50" value="0"></td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>1 Hour BNI University or In Person Learning</td>
                                        <td>1</td>
                                        <td><input type="text" class="form-control width50" value="0"></td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>3 Hours BNI University or In Person Learning</td>
                                        <td>1</td>
                                        <td><input type="text" class="form-control width50" value="0"></td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>4 Hours BNI University or In Person Learning</td>
                                        <td>2</td>
                                        <td><input type="text" class="form-control width50" value="0"></td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>5 Hours BNI University or In Person Learning</td>
                                        <td>1</td>
                                        <td><input type="text" class="form-control width50" value="0"></td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">6</th>
                                        <td>5 Hours Reading BNI Books, BNI Convention, etc.</td>
                                        <td>3</td>
                                        <td><input type="text" class="form-control width50" value="0"></td>
                                        <td>1</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>