/* You can add global styles to this file, and also import other style files */


/* @charset "utf-8";
@font-face {
    font-family: 'SF UI Display';
    src: url('fonts/sf-ui-display-black-58646a6b80d5a.otf'),url('fonts/sf-ui-display-bold-58646a511e3d9.otf');
} */

@font-face {
    font-family: 'SF UI Display Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Medium'), url('assets/fonts/woff/sf-ui-display-medium-58646be638f96.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Semibold'), url('assets/fonts/woff/sf-ui-display-semibold-58646eddcae92.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Bold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Bold'), url('assets/fonts/woff/sf-ui-display-bold-58646a511e3d9.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Heavy'), url('assets/fonts/woff/sf-ui-display-heavy-586470160b9e5.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Black';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Black'), url('assets/fonts/woff/sf-ui-display-black-58646a6b80d5a.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Ultralight';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Ultralight'), url('assets/fonts/woff/sf-ui-display-ultralight-58646b19bf205.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Thin';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Thin'), url('assets/fonts/woff/sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Light';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Light'), url('assets/fonts/woff/sf-ui-display-light-58646b33e0551.woff') format('woff');
}

body {
    /* font-family:-apple-system, BlinkMacSystemFont, sans-serif !important; */
    font-family: 'SF UI Display Medium'!important;
    background: #e4e4e4;
    line-height: 1;
}

small {
    font-family: 'SF UI Display Light'!important;
}

.mt-50 {
    margin: 50px auto;
}

.mark-definition {
    line-height: 2;
    font-size: 13px;
    letter-spacing: .5px;
    /* margin: 15px auto; */
    width: 70%;
}

.login-box {
    width: 70%;
    background: #fff;
    box-shadow: 0px 1px 10px rgb(121 121 121 / 62%);
    height: auto;
    border-radius: 4px;
    display: block;
    margin: 10px auto;
    padding: 20px;
    transition: 0.3s ease-in-out;
}

.login-box:hover {
    transform: scale(1.1);
}

.text-grey {
    color: #a0a0a0;
}

.login-box .form-control {
    margin: 0px auto;
    padding: .875rem .75rem;
    color: #495057;
    background-color: #f1f1f1;
    border: 1px solid #cad0d6;
}

.login-box .btn-lg {
    padding: .7rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.social-icons {
    font-size: 35px;
    margin: 40px auto;
    color: #4b4b4b;
}

.social-icons>.fab {
    padding-right: 20px;
}

.login-footer {
    font-size: 11px;
    padding: 20px;
    text-align: center;
    color: #9e9e9e;
}


/*New*/

section.banner_wrapper {
    /* background: #ed1c24; */
    background: url('assets/images/dash-bg.jpg') center center / cover#ed1c24;
}

.content_wrapper {
    width: 100%;
    max-width: 95%;
    margin: 0px auto;
    padding-bottom: 80px;
}

.fullheight {
    width: 100% !important;
}

.card_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    max-width: 285px;
    width: 100%;
    border: 1px solid #FFFFFF4D;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    position: relative;
    background: #fff;
}

span.card_name {
    color: #ed1c24;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.card_img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #ed1c24;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.profile_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 42px 0px 26px 0px;
    align-content: center;
    /*transition-timing-function: ease-in-out;*/
    transition: all 0.2s linear;
}

.profile_section.fixed {
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    padding: 10px 30px;
    z-index: 99999;
    background: #fff;
    box-shadow: 0px 0px 6px #3f51b5;
    /*transition-timing-function: ease-in-out;*/
    transition: all 0.2s linear;
}

.profile_section .nav-item>a {
    background: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 1;
    padding: 10px;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    color: #ed1c24;
    border: 1px solid #ed1c24;
}

.profile_section .nav-item {
    margin-right: 20px;
}

.marc-logo>img {
    position: absolute;
    top: 0%;
    left: 0;
    max-width: 140px;
    background: #fff;
}

.font-weight-bold {
    font-family: "SF UI Display Semibold";
}

.light-text {
    font-family: "SF UI Display Thin";
    letter-spacing: 1px;
    padding-right: 5px;
}

.greetings {
    color: #fff;
    position: absolute;
    top: 10px;
    left: 11%;
    padding: 10px;
}

.profile_img {
    max-width: 40px;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.profile_img img {
    width: 100%;
    border-radius: 50%;
}

.profile_left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

span.profile_name {
    font-size: 18px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.bell {
    margin-right: 30px;
}

span.bell,
span.logout {
    width: 40px;
    height: 40px;
    background: rgb(26 33 85 / 10%);
    display: inline-block;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

sup.num {
    position: absolute;
    background: #1a2155;
    color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: -4px;
    font-size: 10px;
    right: -1px;
}

.heading {
    text-decoration: underline;
    letter-spacing: 0px;
    color: #1A2155;
    opacity: 1;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.heading .chev_ron {
    width: 16px;
    height: 16px;
    display: inline-flex;
    margin: 0px 20px 0px 10px
}

.content_wrapper.content_wrapper_position {
    display: flex;
    flex-wrap: wrap;
}

span.counter {
    position: absolute;
    right: 23px;
    top: 15px;
    font-weight: bold;
    font-size: 26px;
    color: #061554;
}

.left_nav {
    max-width: 115px;
    width: 100%;
    background: #fff;
    box-shadow: 0px -1px 6px #00000029;
    border-radius: 20px;
    margin-right: 40px;
    /*padding: 53px 30px 44px 30px;*/
    height: auto;
}

.left_icons {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.left_icons li {
    padding: 23px 8px;
    cursor: pointer;
}

.left_icons span.name {
    font-size: 12px;
    color: rgb(26 33 85 / 50%);
    font-weight: bold;
}

.left_icons li a {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.left_icons li:first-child a span.name {
    color: #1A2155;
}


/*.left_icons li:nth-child(2n){
	padding: 63px 0px;
}*/

.right_nav {
    width: calc(100% - 155px);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px 20px 0px 0px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    padding: 33px 32px 14px 32px;
    background: #fff;
    /*height: 534px;*/
}

section.nav_section {
    position: relative;
    top: -50px;
}

.accounts_section {
    width: 100%;
}

.transaction_section {
    width: 100%;
}

.account_img {
    width: 48px;
    height: 48px;
    background: rgb(225 112 0 / 10%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.accounts_content {
    display: flex;
    /*flex-wrap: wrap;*/
    padding: 10px 0px;
    border-bottom: 1px solid #e0e0e0;
    align-items: center;
}

.account_num {
    /*display: flex;
    flex-wrap: wrap;
    flex-flow: column;*/
    margin-left: 20px;
    /* margin-right: 20px;*/
}

span.number {
    color: #1A2155;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    text-decoration: underline;
    cursor: pointer;
}

span.content {
    color: rgb(26 33 85 / 60%);
    font-size: 12px;
}

.amount p {
    color: #ed1c24;
    font-size: 16px;
}

.amount sup.num {
    font-size: 11px;
    margin-left: 5px;
}

.transaction_content {
    padding: 24px;
    box-shadow: 0px 3px 6px #00000033;
    border-radius: 10px;
    margin: 23px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trans_content {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
}

span.trans_name {
    color: #1A2155;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.03em;
}

span.trans_acount {
    color: rgb(26 33 85 / 60%);
    font-size: 14px;
    margin-top: 5px;
}

.trans_amount {
    color: #ed1c24;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
}

.trans_amount sup.num {
    font-size: 11px;
    margin-left: 5px;
}


/*media_query*/

@media only screen and (max-width: 1400px) {
    body {
        width: 100%;
        max-width: 100%;
    }
    section.nav_section,
    .banner_wrapper {
        padding: 0px 50px;
    }
}

@media only screen and (max-width: 1325px) {
    .card:last-child {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1094px) {
    .card_section {
        justify-content: center;
    }
    .card {
        margin: 20px;
    }
}

@media only screen and (max-width: 991px) {
    .left_nav {
        display: none;
    }
    .right_nav {
        width: 100%;
    }
}

@media only screen and (max-width: 890px) {
    .transaction_section {
        display: none;
    }
    .accounts_section {
        width: 100%;
    }
    .card {
        max-width: 150px;
        width: 100%;
    }
}

@media only screen and (max-width: 490px) {
    body {
        max-width: 100%;
        width: 100%;
    }
    section.banner_wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }
    span.logout {
        display: none;
    }
    span.bell {
        margin-right: 0px !important;
    }
    .card_section {
        justify-content: space-between !important;
    }
    .card {
        max-width: 120px !important;
        margin: 0px !important;
    }
    .card_section .card:nth-child(4n),
    .card_section .card:last-child {
        display: none;
    }
    .left_nav {
        display: none;
    }
    .transaction_section {
        display: none;
    }
    .accounts_section,
    .right_nav {
        width: 100% !important;
        height: auto;
    }
    .heading {
        display: flex;
        justify-content: space-between !important;
    }
    .chev_ron {
        position: relative;
        left: -120px !important;
    }
    .accounts_content {
        justify-content: space-between;
        padding: 20px 0px;
    }
    .account_num {
        position: relative;
        left: -50px;
    }
    .nav_section {
        padding: 0px !important;
    }
}

@media only screen and (max-width: 420px) {
    .card_section {
        justify-content: center !important;
    }
    .account_num {
        left: unset !important;
    }
    .heading .chev_ron {
        left: unset !important;
    }
    .card {
        margin: 15px 15px !important;
    }
}

@media only screen and (max-width: 420px) {
    .amount {
        margin-top: 20px;
    }
}

.loginBg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url('assets/images/body-bg.gif') repeat;
}