<div class="left_nav">
    <ul class="left_icons">
        <li class="home"><a href="#"><span class="img"><img src="../../../../../assets/images/wallet.png"></span><span class="name">Home</span></a></li>
        <li class="tyfcb"><a href="#"><span class="img"><img src="../../../../../assets/images/pie.png"></span><span class="name">TYFCB Slips</span></a></li>
        <li class="referral"><a href="#"><span class="img"><img src="../../../../../assets/images/more.png"></span><span class="name">Referral Slips</span></a></li>
        <li class="onetoone"><a href="#"><span class="img"><img src="../../../../../assets/images/more.png"></span><span class="name">One-to-One Slips</span></a></li>
        <li class="ceu"><a href="#"><span class="img"><img src="../../../../../assets/images/more.png"></span><span class="name">CEU Slips</span></a></li>
        <li class="profile"><a href="#"><span class="img"><img src="../../../../../assets/images/more.png"></span><span class="name">Update Profile</span></a></li>
    </ul>
</div>