<div class="left_nav">
    <ul class="left_icons">
        <li class="home" (click)="dashboard()"><span class="img"><img src="../../../../../assets/images/wallet.png"></span><span class="name">Home</span></li>
        <li class="tyfcb" (click)="thankYouProfile()"><span class="img"><img src="../../../../../assets/images/pie.png"></span><span class="name">TYFCB Slips</span></li>
        <li class="referral" (click)="referalSlip()"><span class="img"><img src="../../../../../assets/images/more.png"></span><span class="name">Referral Slips</span></li>
        <li class="onetoone" (click)="oneToOne()"><span class="img"><img src="../../../../../assets/images/more.png"></span><span class="name">One-to-One Slips</span></li>
        <li class="ceu" (click)="ceuSlip()"><span class="img"><img src="../../../../../assets/images/more.png"></span><span class="name">CEU Slips</span></li>
        <li class="profile" (click)="updateProfile()"><span class="img"><img src="../../../../../assets/images/more.png"></span><span class="name">Update Profile</span></li>
    </ul>
</div>